@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about best practices for implementing dependency injection in .NET applications. <a href="https://docs.microsoft.com/pt-br/dotnet/core/extensions/dependency-injection-guidelines" target="_blank">pt-br</a> / <a href="https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection-guidelines" target="_blank">en-us</a>.</p>
</div>

<div class="text-center">
    <p>
        <h3>𝐀𝐝𝐝𝐒𝐢𝐧𝐠𝐥𝐞𝐭𝐨𝐧 vs 𝐀𝐝𝐝𝐒𝐜𝐨𝐩𝐞𝐝 vs 𝐀𝐝𝐝𝐓𝐫𝐚𝐧𝐬𝐢𝐞𝐧𝐭</h3>
    </p>
</div>

<p>Whenever we ask for the service, the <b>DI Container</b> has to decide whether to return a new instance of the service or provide an existing instance. The Lifetime of the Service depends on how we instantiate the dependency. We define the lifetime when we register the service.</p>

<p>
    The below three methods define the lifetime of the services:<br/>
    <br/>
    • 𝐀𝐝𝐝𝐒𝐢𝐧𝐠𝐥𝐞𝐭𝐨𝐧 - Singleton lifetime services are created the first time they are requested (or when ConfigureServices is run if you specify an instance there) and then every subsequent request will use the same instance.<br/>
    <code>
        builder.Services.AddSingleton<ISingletonService, SingletonService>();
    </code><p></p>

    • 𝐀𝐝𝐝𝐒𝐜𝐨𝐩𝐞𝐝  - Scoped lifetime services are created once per request.<br/>
    <code>
        builder.Services.AddScoped<IScopedService, ScopedService>();
    </code><p></p>

    • 𝐀𝐝𝐝𝐓𝐫𝐚𝐧𝐬𝐢𝐞𝐧𝐭 - Transient lifetime services are created each time they are requested. This lifetime works best for lightweight, stateless services.<br/>
    <code>
        builder.Services.AddTransient<ITransientService, TransientService>();
    </code>
</p>

<table class="table">
    <thead>
        <tr><th>Type</th>   <th>Same request</th>   <th>DIfferent requests</th></tr>
    </thead>
    <tbody>
        <tr><td>Singleton</td>  <td>Same instance</td>  <td>Same instance</td></tr>
        <tr><td>Scoped</td>     <td>Same instance</td>  <td>New instance</td></tr>
        <tr><td>Transient</td>  <td>New instance</td>   <td>New instance</td></tr>
    </tbody>
</table>

<p>The lifecycle impact is that with the exception of Singleton, <b>Scoped and Transient</b> are <b>impacted</b> by the number of <b>requests.</b></p>

<p>
    𝐖𝐡𝐢𝐜𝐡 𝐨𝐧𝐞 𝐭𝐨 𝐮𝐬𝐞?<br/>
    <br/>
    Use Transient lifetime for the lightweight service with little or no state.<br/>
    Scoped services service is the better option when you want to maintain state within a request.<br/>
    Use Singletons where you need to maintain application wide state. Application configuration or parameters, Logging Service, caching of data is some of the examples where you can use singletons.
</p>
